.darkBG {
  background-color: hsl(207, 26%, 17%);
}
.lightBg {
  background-color: hsl(0, 0%, 98%);
}

.darkElement {
  background-color: hsl(209, 23%, 22%);
}

.lightText {
  color: hsl(200, 15%, 8%);
}
